.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	text-align: center;
	padding: 3em;
	color: #fff;
	overflow: hidden;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('https://images.unsplash.com/photo-1468510634867-6747418867dc?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
	background-position: center;
	filter: blur(2px);
	z-index: -1;
}

.txt-spam {
	font-weight: bold;
	position: relative;
	z-index: 1;
}

.button-solicitud {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
	position: relative;
}

.button-solicitud:hover {
	transform: scale(1.05);
	background-color: #b4b4b4;
	color: #000;
}

.container-titulo {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 30px;
}

.container-titulo:hover {
	box-shadow: 0px 0px 15px rgb(255, 2555, 208);
	cursor: default;
}

.container-button-wsp {
	margin-top: 1em;
}

.titulo {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	background-image: linear-gradient(90deg, #000 0%, #000 50%, #9b9b9b 50%, #9b9b9b 100%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: 0.3s;
}

.container-titulo:hover .titulo {
	transform: scale(1.1);
	background-position: 0 0;
}

@media (max-width: 768px) {
	.container-titulo {
		border-radius: 30px;
	}
}

@media screen and (max-width: 320px) {
	.container-titulo {
		width: 200px;
	}

	.titulo {
		font-size: 20px;
	}
}