.services-section {
    /* background-color: #1c1c1c; */
    /* background-color: rgba(31, 41, 55, 1);
    background: #0f0c29;
    background: linear-gradient(to right bottom, #443e89, #0f0c29); */
    background-color: #F0F4F9;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.services-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #1f1f1f;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    height: 600px;
    /* background-color: #023252;
    background-color: #2e2a5a;
    background: rgba(0, 0, 0, 0.800); */
    background: #fff;
    /* border: 1px solid #8d0dc8; */
    border-radius: 10px;
    /* border: 1px solid rgb(84 90 106); */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    transition: transform 0.3s;
    padding: 20px;
}

.service-card:hover {
    transform: scale(1.05);
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.service-info {
    padding: 20px;
}

.txt-cards-services {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.title-services-card {
    font-size: 1.5rem;
    text-align: left;
    color: #000;
}

.txt-cards-services {
    font-size: 1rem;
    line-height: 1.5;
    color: #444746;
}
